@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  background-color: #441952;
  font-family: 'Nova Square', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.board {

  width: fit-content;
  margin: 50px auto;
  text-align: center;
}



h1 {
  color: white;
}

.board button {
  padding: 8px 12px;
  margin: 25px;
  background-color: #F19E59;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}



.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  color: white;
  border-radius: 10px;
}



.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
  color: white;
  
}

.square.is-selected {
  color: #fff;
  background: #F19E59;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #A3678B;
  color: white;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
  color: white;
}





